.ul-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000080;
}

.li-nav {
  float: left;
}

.li-nav a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.li-nav a:hover {
  background-color: grey;
}

.li-nav a.active {
  background-color: grey;
  color: white;
}

body {
  background-image: url(https://filosophy.org/images/writing/using-html5-canvas-to-make-a-generative-background-1.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

footer {
  display: block;
}

footer {
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
  text-align: center;
  font-size: 1em;
  border-top: 3px solid black;
  padding-top: 10px;
  padding-bottom: 20px;
}

.para-origin {
  font-family: "Times New Roman";
  font-size: 20px;
  font-style: normal;
  font-variant: normal;
}
